@model IEnumerable<PickingByVoice.Models.GruposDetalhes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estudante.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupos.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estudante.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupos.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GruposDetalhesId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GruposDetalhesId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GruposDetalhesId })
        </td>
    </tr>
}

</table>
