@model ColetaEntrega.Models.Documento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemColeta.Local_Coleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemColeta.Local_Coleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentoNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentoNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentoSeq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentoSeq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DocumentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
