@model IEnumerable<ColetaEntrega.Models.ItemColeta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MestreColeta.CNH_Motorista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DhColeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local_Coleta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MestreColeta.CNH_Motorista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DhColeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local_Coleta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemColetaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemColetaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemColetaId })
        </td>
    </tr>
}

</table>
