@model IEnumerable<ColetaEntrega.Models.UsuarioEmpresaHistorico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Participante.NmRazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DhInteracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RotaInteracao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Participante.NmRazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DhInteracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RotaInteracao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsuarioEmpresaHistoricoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsuarioEmpresaHistoricoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsuarioEmpresaHistoricoId })
        </td>
    </tr>
}

</table>
