@model IEnumerable<ColetaEntrega.Models.ItemColetaMovimentacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemColeta.Local_Coleta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoMovimentacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DhCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NmUsuarioCriou)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemColeta.Local_Coleta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoMovimentacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DhCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NmUsuarioCriou)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemColetaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemColetaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemColetaId })
        </td>
    </tr>
}

</table>
